/* HEADER */
* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

nav {
    display: flex;
    align-items: center;
    padding: 8px;
    justify-content: space-between;
    background-color: #4b02c0;
    background-image: linear-gradient(130deg, #4b02c0 0%, #80D0C7 55%);
    border-bottom: solid 1px #4b02c0;
}

nav img {
    margin-left: 20px;
    display: flex;
    height: 90px;
    border-radius: 130px;
}

nav a {
    text-align: center;
    margin-inline: 60px;
    font-size: 15px; 
    color: black;
}

nav a:hover {
    color: blue;
}

/* MAIN */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background-color: #80D0C7;
}
.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #80D0C7;
}

.container img {
    margin: 10px;
    width: 96%;
    height: 300px;
    display: flex; 
}

.container h1 {
    font-size: 25px;
    margin-left: 20px;
    display: flex;
    color: rgb(3, 136, 63);
}

.container h2 {
    font-size: 20px;
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    color: rgb(3, 136, 63);
}

.container p {
    margin: 5px 20px 5px 20px;
    text-align: justify;
    font-size: 12px;
}

.link {
    font-size: 20px;
    margin-left: 75px;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

aside {
    width: 100%;
    height: 76vw;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: white;
}

aside figure {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

aside h1 {
    width: 100%;
    font-size: 20px;
    text-align: center;
    margin-bottom: 100px;
    margin-top: 20px;
}

aside figure img {
    align-content: space-around;
    font-size: 10px;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    margin: 60px;
    margin-bottom: 80px;
}

figure a:hover {
    transform:scale(1.2);
    transition: 0.3s;
}

footer {
    padding: 5px;
    color: black;
    text-align: center;
    font-size: 10px;
    background-color: #4b02c0;
    background-image: linear-gradient(130deg, #4b02c0 0%, #80D0C7 55%);
    border-top: solid 1px #4b02c0;
    
}



